// Siatka kolumn
@columns: 12;
@column-width: 65;
@gutter-width: 30;
@total-width: 100%;

.our-services .single-col {
  .column(12);
  @media @tablet {
    .column(3);
  }
}

.advantages .single-col {
  .column(12);
  @media @tablet {
    .column(4);
  }
}

.statisctics .single-col {
  .column(12);
  @media @phone {
    .column(6);
  }
  @media @tablet {
    .column(3);
  }
}

.our-team .single-col {
  .column(12);
  @media @tablet {
    .column(4);
  }
}

.footer-main .single-col {
  .column(12);
  @media @phone {
    .column(6);
  }
  @media @tablet {
    .column(3);
  }
}

// Kontener
.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}

// Inne elementy
img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Tytuły sekcji
.section-title {
  margin-bottom: 40px;
  .center-text;
}

// Nagłówki
h1,
h2,
h3 {
  line-height: 1.1;
}

// Mixin dla przycisków
.basic-button(@color, @background-color) {
  color: @color;
  background-color: @background-color;
  text-decoration: none;
  .inline-block;
  font-size: @basic-font-size;
  font-weight: 400;
  line-height: @basic-line-height;
  text-transform: uppercase;
}

/***  Nagłówek ***/
header {
  left: 0;
  right: 0;
  top: 0;
  background: @basic-bg-color;
  border-bottom: 2px solid @basic-border-color;
  box-shadow: 0 0 1px @basic-border-color;
  position: fixed;
  z-index: 1000;
  .navbar {
    height: 63px;
    .nav-logo {
      .float-left;
      .center-vertical;
      z-index: 2;
    }
  }
}

// Ukrycie menu głównego
#main-menu {
  .invisible;
  @media @phone {
    .block;
  }
}

.main-menu-content {
  .float-right;
  .center-vertical;
  ul {
    .list-style-none;
    li {
      .float-left;
      .block;
      a {
        color: @menu-link-color;
        font-size: 15px;
        font-family: @font-family-secondary;
        font-weight: 400;
        padding: 20px 14px;
        line-height: 20px;
        .basic-transition;
        &:hover {
          color: @accent-color;
          font-weight: bold;
        }
        @media @tablet {
          padding: 20px 22px;
        }
      }
      i {
        font-size: 14px;
      }
    }
  }
}

// Mobilne menu
.slicknav_menu {
  position: fixed;
  left: 0;
  right: 0;
  @media @phone {
    .invisible;
  }
  i {
    .invisible;
  }
  ul {
    .section-border-bottom;
    box-shadow: 0 0 1px @basic-border-color;
  }
}

// Główny slider
.bxslider {
  .main-slide-1 {
    background-image: url("../images/slide_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    &::after {
      .dark-overlay;
    }
  }
  .main-slide-2 {
    background-image: url("../images/slide_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    &::after {
      .dark-overlay;
    }
  }
}
